@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #0B121A;
  --white: #ffffff;
  --gap: 3rem;
  --light-gray-color: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: var(--gap);
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

table {
  margin-top: 6rem;
  border-collapse: collapse;
  width: 100%;
  min-width: 36rem;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table td, table th {
  text-align: left;
  padding: 1rem;
  border: 0.1rem solid var(--light-gray-color);
  white-space: nowrap;
}

tfoot td, thead th {
  background-color: var(--light-gray-color);
}

form {
  width: 100%;
}

input {
  padding: 0.7rem;
  font-size: 1.7rem;
  border-radius: 0.7rem;
}

label {
  font-size: 1.7rem;
  font-weight: 600;
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem;
  font-size: 2rem;
  border: 0.2rem solid var(--white);
  border-radius: 0.7rem;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: var(--light-gray-color);
  color: var(--primary-color);
}

.main-bg {
  width: 100%;
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-color);
}

.close-menu {
  display: none;
}

@media (max-width: 40rem) {
  .menu {
    bottom: 0;
    text-align: center;
    display: none;
  }
  
  .menu-content, .menu ul {
    flex-direction: column;
    height: 100vh;
  }
  
  .menu h1 {
    margin-top: 5rem;
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .close-menu-label::after {
    margin-top: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 50%;
    background-color: var(--white);
    content: '≡';
    position: fixed;
    z-index: 2;
    top: -0.5rem;
    right: 2rem;
    font-size: 4rem;
    width: 4rem;
    text-align: center;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }
}

.menu h1 {
  font-size: 2.3rem;
}

.menu a {
  color: var(--primary-color);
}

.menu ul {
  display: flex;
}

.menu li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
}

.menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.home {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  grid-template-areas: 'conteudo image';
  gap: var(--gap);
}

@media (max-width: 50rem) {
  .home {
    display: block;
  }
}

.home:nth-child(1) {
  grid-area: conteudo;
}

.home:nth-child(2) {
  grid-area: image;
}

.home-img img {
  width: 100%;
  height: auto;
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  max-width: 70rem;
  text-align: center;
}

.top-3:nth-child(1) {
  height: 100%;
}

.top-3:nth-child(1) h2 {
  margin-top: 8rem;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  font-size: 8rem;
  font-style: italic;
  margin-right: 2rem;
}

.gallery {
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--gap);
}

.gallery:nth-child(1) h2 {
  font-size: 3rem;
  margin-top: 6rem;
}

.gallery:nth-child(1) {
  text-align: center;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
  max-height: 36rem;
  max-width: 36rem;
  transition: all 200ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.gallery-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: var(--gap);
  counter-reset: grid-counter;
}

@media (max-width: 50rem) {
  .grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap);
    counter-reset: grid-counter;
  }
}

@media (max-width: 36rem) {
  .grid {
    display: block;
  }
}

.pricing h2 {
  margin-top: 6rem;
}

.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}

.contact {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
  height: 80%;
  border-radius: 2rem;
  border: 0.2rem solid var(--white);
  background-color: rgba(0, 0, 0, 0.3);
}

.contact .flex-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.contact .message {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: var(--gap);
}

.contact .message textarea {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
}

.contact input {
  width: 100%;
}

.contact .email, .contact .button, .contact .message {
  margin-top: var(--gap);
}

.contact-text {
  margin-top: 5rem;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.contact-img img {
  max-width: 100%;
}

@media (max-width: 32rem) {
  h2 {
    font-size: 5rem;
  }
}

@media (max-width: 28rem) {
  h2 {
    font-size: 4rem;
  }
}

.contact-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  grid-template-areas: 'conteudo image';
  gap: var(--gap);
}

.footer {
  text-align: center;
  padding: 2rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--primary-color);
  font-size: 1.6rem;
}

.footer span {
  color: red;
}

@media (max-width: 50rem) {
  .contact-grid {
    display: block;
  }
}
